* {
    margin: 0;
    padding: 0;
    font-family: "Hachi Maru Pop", cursive;

}

body {
    background-color: #EFF396;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(150deg, #74E291, #59B4C3);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;


}




.search button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
} 

.search button img{
    width: 16px;

}

.weath{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
font-size: 50px;
font-weight: 600;

}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
    }
    
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display:flex;
    align-items: center;
    text-align:left;
}

.col img {
    width: 70px;
    margin-right: 8px;
}



.humidity, .wind{
    margin-top: -6px;
    font-size: 28px;
    font-weight: 200;
}

.weather{
    display: none;
}


.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}
